body {
	margin: 0;
}

.help {
	position: absolute;
	z-index: 10;
	border: 2px solid yellowgreen;
	border-radius: 10px;
}
	.help button {
    font-weight: bold;
    font-style: italic;
    background-color: yellow;
    border-radius: 8px;
    position: absolute;
    top: -2px;
    left: -2px;
  }
	.content {
		display: none;
		width: 400px;
		font-weight: bold;
		font-style: italic;
		margin: 1.1rem;
	}
	.content.show {
		display: block;
	}
